.container{
    margin-top: 100px;
}
.heading{
    border: 2px solid black;
    text-align: center;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    font-family: 'Libre Baskerville', serif;
}
.generate{
    text-align: center;
    padding: 8px;
    border: 2px solid black;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}
.gif{
    border: 2px solid red;
    display: flex;
    flex-wrap: wrap;
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}
img{
    width: 200px;
    height: 150px;
    padding : 10px 15px;
    border-radius: 30%;
}
